{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
//    "minify"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-strict-mode"
  ],
  "env": {
    "development" : {
      "compact": false
    }
  }
}